.main-table{
  margin-left: 10px;
  margin-right: 10px;
}
.issue{
  background-color: red;
}
.link-unstyled{
  text-decoration: 'none';
  color: 'black';
}
.float-right{
  float: right;
}
.margin-top-10{
  margin-top: 10px
}