/* Coolors Exported Palette - coolors.co/e6e1c5-bb4430-d4cb92-335c81-65afff */

/* HSL */
$color1: hsla(51%, 40%, 84%, 1);
$color2: hsla(9%, 59%, 46%, 1);
$color3: hsla(52%, 43%, 70%, 1);
$color4: hsla(208%, 43%, 35%, 1);
$color5: hsla(211%, 100%, 70%, 1);

/* RGB */
$color1: rgba(230, 225, 197, 1);
$color2: rgba(187, 68, 48, 1);
$color3: rgba(212, 203, 146, 1);
$color4: rgba(51, 92, 129, 1);
$color5: rgba(101, 175, 255, 1);

5A9CE2
335C81
D4CB92
BB4430
E6E1C5